*{
    margin: 0;
    padding: 0;
}
/* display flex */
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
   width: 33%;
   border: 2px solid white;
   border-radius: 250px;
}

.navbar{
   display: flex;
   align-items: center;
   justify-content: center;
   position: sticky;
   top: 0;
   cursor: pointer;
}

.nav-list{
    width: 50%;
    /* background-color: black; */
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
   text-decoration: none;
   color: white;
}
.nav-list li a:hover{
   color: blue;
}

.rightnav{
  /* background-color: yellow; */
  width: 50%;
  text-align: right;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
    padding: 0 20px;
}

.background{
     background: rgba(0, 0, 0, 0.7) url("../img/Shanghai-Tower-Gensler-San-Francisco-world-Oriental-2015.webp");
     background-size: cover;
     background-blend-mode: darken;
}
.firstsection{
    height: 100vw;
}


.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 40%;
}
.firsthalf{
    width: 80%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    
}
.secondhalf{
   width: 50%;
}
.secondhalf img{
   width: 90%;
   border: 4px solid white;
   border-radius: 20px;
   display: block;
   margin: auto;
}

.bigtext{
    font-size: 40px;
   
}

.smalltext{
    font-size: 18px;
    /* margin: 10px; */
    
}

.btn{
    padding: 8px 20px ;
    margin: 7px 3px ;
    border: 2px solid white;
    border-radius: 8px;
    /* font-size: 18px; */
    background: none;
    color: white;
}

.btn-sm{
    padding: 3px 14px;
    
}
.secRight{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}

